# Wildcard
.*.swp
*.toml.bak

# Files
/patchouli_data.json
/reauth.toml
/rhino.local.properties
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json

# Directories
/.mixin.out
/backups
/crash-reports
/ESM
/local
/logs
/saves
/screenshots
/skyblock_exports
/XaeroWaypoints
/XaeroWaypoints_BACKUP*
/XaeroWorldMap
