/Advancedperipherals/general.toml
/Advancedperipherals/metaphysics.toml
/Advancedperipherals/peripherals.toml
/advancementplaques-common.toml
/ae2/client.json
/aiimprovements-common.toml
/aiotbotania-client.toml
/aiotbotania-common.toml
/almostunified/debug.json
/almostunified/duplicates.json
/almostunified/startup.json
/ambientsounds-client.json
/apotheosis/adventure.cfg
/apotheosis/enchantments.cfg
/apotheosis/garden.cfg
/apotheosis/names.cfg
/apotheosis/potion.cfg
/apotheosis/spawner.cfg
/apotheosis/village.cfg
/aquaculture-common.toml
/architects_palette-common.toml
/ars_creo-common.toml
/ars_elemental-client.toml
/ars_elemental-common.toml
/ars_elemental/glyph_*.toml
/ars_instrumentum-client.toml
/ars_nouveau/burst.toml
/ars_nouveau-client.toml
/ars_nouveau/glyph_*.toml
/ars_nouveau-server.toml
/artifacts-client.toml
/attributefix.json
/autosmithingtable-common.toml
/betterfortresses/forge-1_19/itemframes.json
/betterfortresses/forge-1_19/README.txt
/betterfortresses-forge-1_19.toml
/betterfortresses/README.txt
/bhc-common.toml
/bhc/drops.json
/biggerreactors-client.toml
/blueprint-client.toml
/blueprint-common.toml
/blur.json
/botania-client.toml
/botania-common.toml
/botanypotstiers-common.toml
/buildinggadgets-client.toml
/bwncr-common.toml
/canary.properties
/capsule
/ccl.cfg
/chiselsandbits-client.toml
/chiselsandbits-common.toml
/citadel-common.toml
/clayworks-common.toml
/cloud-storage.toml
/cofh_core-common.toml
/collective.json5
/comforts-server.toml
/compactmachines-common.toml
/computercraft-client.toml
/configured-client.toml
/connectiblechains-client.toml
/connectiblechains-common.toml
/connectivity-common.toml
/constructionwand-client.toml
/cookingforblockheads-common.toml
/corail_woodcutter-server.toml
/craftingtweaks-common.toml
/create-client.toml
/cucumber-client.toml
/curios-client.toml
/custommachinery.toml
/cyclic-client.toml
/cyclic.toml
/dankstorage-client.toml
/decorative_blocks-common.toml
/defaultworldtype/world-types.txt
/delightful-common.toml
/de/mari_023/ae2wtlib.json5
/ding.toml
/dragonfight-common.toml
/dragonfight.json
/dummmmmmy-client.toml
/dummmmmmy-common.toml
/dustrial_decor-common.toml
/eccentrictome-common.toml
/enchantinginfuser-server.toml
/enchdesc.json
/EnderStorage.cfg
/endportalrecipe.json5
/engineersdecor-common.toml
/entangled-common.toml
/entityculling.json
/enviroseries/materials/materials-client.json
/enviroseries/materials/materials.json
/exnaturae.json5
/explorerscompass-client.toml
/explorerscompass-common.toml
/extremesoundmuffler-client.toml
/fallingleaves-client.toml
/farmersdelight-client.toml
/farmersdelight-common.toml
/farmersrespite-common.toml
/farmingforblockheads-common.toml
/farsight-common.toml
/fastbench.cfg
/fastsuite.cfg
/ferritecore-mixin.toml
/fluxnetworks-client.toml
/fluxnetworks-common.toml
/flywheel-client.toml
/forge-client.toml
/forge-common.toml
/forge-resource-caching.toml
/fpsreducer/fpsreducer-client.toml
/framedblocks-client.toml
/functionalstorage/functionalstorage-client.toml
/functionalstorage/functionalstorage-common.toml
/gag.snbt
/geode.json5
/hammerlib.cfg
/hammerlib/recipes/modded/botanicadds.json
/hammerlib/recipes/modded/minecraft.json
/harvestwithease-common.toml
/healthoverlay.toml
/Hexerei-client.toml
/highlighter-common.toml
/hostilenetworks.cfg
/immersiveengineering-client.toml
/industrialforegoing/machine-agriculture-husbandry.toml
/industrialforegoing/machine-core.toml
/industrialforegoing/machine-generator.toml
/industrialforegoing/machine-misc.toml
/industrialforegoing/machine-resource-production.toml
/integrateddynamicscompat-common.toml
/inventoryessentials-common.toml
/inventorysorter-client.toml
/ironfurnaces-client.toml
/ironfurnaces.toml
/ironjetpacks-client.toml
/ironjetpacks-common.toml
/ironjetpacks/jetpacks/bronze.json
/ironjetpacks/jetpacks/copper.json
/ironjetpacks/jetpacks/creative.json
/ironjetpacks/jetpacks/diamond.json
/ironjetpacks/jetpacks/electrum.json
/ironjetpacks/jetpacks/emerald.json
/ironjetpacks/jetpacks/gold.json
/ironjetpacks/jetpacks/invar.json
/ironjetpacks/jetpacks/iron.json
/ironjetpacks/jetpacks/silver.json
/ironjetpacks/jetpacks/steel.json
/ironjetpacks/jetpacks/stone.json
/ironjetpacks/jetpacks/wood.json
/itemcollectors-common.toml
/jade/hide-entities.json
/jade/jade.json
/jade/plugins.json
/jade/sort-order.json
/jaopca
/jeed-client.toml
/jei/blacklist.cfg
/jei/ingredient-list-type-sort-order.ini
/jei/jei-client.ini
/jei/jei-colors.ini
/jei/jei-debug.ini
/jei/jei-mod-id-format.ini
/jei/world
/jeresources-common.toml
/jeresources.toml
/justmobheads/headchances.txt
/justmobheads.json5
/kleeslabs-common.toml
/legendarytooltips-common.toml
/lehjr/numina/numina-client-only.toml
/lehjr/numina/numina-client-only.toml
/lehjr/powersuits/mps-client-only.toml
/lehjr/powersuits/powersuits-keybinds.json
/libraryferret_1.properties
/logprot-common.toml
/lootr-client.toml
/lootr-common.toml
/mcjtylib-client.toml
/Mekanism/additions-client.toml
/Mekanism/additions.toml
/Mekanism/client.toml
/Mekanism/common.toml
/Mekanism/gear.toml
/Mekanism/general.toml
/Mekanism/generators-gear.toml
/Mekanism/generators.toml
/Mekanism/generator-storage.toml
/Mekanism/machine-storage.toml
/Mekanism/machine-usage.toml
/Mekanism/tiers.toml
/Mekanism/tools-client.toml
/Mekanism/tools.toml
/merequester-common.toml
/mininggadgets-client.toml
/mininggadgets-common.toml
/modelfix-client.toml
/modernfix-common.toml
/modernfix-mixins.properties
/modnametooltip-client.toml
/modularrouters-client.toml
/modularrouters-common.toml
/moreoverlays.toml
/morered-client.toml
/morevillagers-common.toml
/morphtool-common.toml
/MouseTweaks.cfg
/mysticalagradditions-common.toml
/mysticalagriculture-client.toml
/mysticalagriculture-common.toml
/nameless_trinkets
/nameless_trinkets-base.toml
/naturescompass-client.toml
/neat-client.toml
/nightconfigfixes.toml
/NoChatReports/NCR-Client.json
/NoChatReports/NCR-Common.json
/NoChatReports/NCR-Encryption.json
/NoChatReports/NCR-ServerWhitelist.json
/NoChatReports/README.md
/oculus.properties
/overloadedarmorbar-client.toml
/paragon.json5
/patchouli-client.toml
/pedestals-common.toml
/phosphophyllite/general-server.json5
/phosphophyllite/quartz-client.json5
/pneumaticcraft/ArmorFeatureStatus.cfg
/pneumaticcraft-client.toml
/pneumaticcraft/MicromissileDefaults.cfg
/pneumaticcraft/PneumaticArmorHUDLayout.cfg
/pneumaticcraft/ProgrammingPuzzleBlacklist.cfg
/pneumaticcraft/thirdparty.cfg
/presencefootsteps/userconfig.json
/reactive-client.toml
/reactive-common.toml
/reliquary-client.toml
/reliquary-common.toml
/resourcechickens-client.toml
/resourcechickens-common.toml
/resourcechickens/modded
/resourcechickens/vanilla
/rftoolsbuilder-client.toml
/rftoolsdim-common.toml
/rftoolsstorage-client.toml
/rftoolsutility-client.toml
/rootsclassic-client.toml
/rootsclassic-common.toml
/rubidium-mixins.properties
/sci4me/Torcherino.cfg
/seeddrop/Info.txt
/shrink-common.toml
/silentgear-client.toml
/simplemagnets-common.toml
/skyblockbuilder/data
/skyblockbuilder/starter_item.json
/skyguis.json5
/smoothboot.json
/solcarrot-client.toml
/sophisticatedbackpacks-common.toml
/sophisticatedcore-client.toml
/sophisticatedstorage-client.toml
/spirit.toml
/starbunclemania/glyph_*
/starbunclemania-server.toml
/supplementaries-client.toml
/supplementaries-common.toml
/tempad_client.json
/tempad.json
/thermal-client.toml
/thermal_integration-common.toml
/titanium/titanium.toml
/toastcontrol-common.toml
/toolstats.json
/tramplestopper-common.toml
/trashcans-common.toml
/trashslot-common.toml
/travelanchors/client.json5
/travelanchors/common.json5
/upgradednetherite-client.toml
/utilitix/common.json5
/valkyrielib/valkyrielib-client.json
/valkyrielib/valkyrielib.json
/waystones-common.toml
/wormhole-common.toml
/wstweaks.cfg
/xaeropatreon.txt
